.contacts {
  padding-left: calc(15% - 97px);
  padding-bottom: 60px;

  background-color: $color-secondary;
  background-image: url("../img/bg-watercolor5-desktop@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left -90px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor5-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-size: cover;
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 63px;
    padding-left: 0;
    padding-right: 0;

    background: none;
  }
}

.contacts__content {
  position: relative;

  h2 {
    @include header;
    position: relative;
    z-index: 100;

    margin-bottom: 49px;
  }

  img {
    position: relative;
    float: right;
    top: -92px;

    width: 702px;
    height: 448px;
    margin-bottom: -30px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    picture,
    img {
      order: 1;
    }

    img {
      top: 0;

      height: 420px;
      width: auto;
      margin: 0 auto;
      float: none;
      margin-bottom: 14px;

      object-fit: cover;
    }

    h2 {
      order: 0;

      margin-bottom: 26px;

      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    img,
    picture {
      margin-left: -99px;
      float: right;
    }
  }
}

.contacts__city {
  position: relative;

  display: flex;
  margin-bottom: 38px;
  padding-left: 22px;
  padding-right: 40px;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;

    width: 12px;
    height: 18px;

    background-image: url("../img/pin-gray.png");
  }

  button {
    position: relative;
    padding: 0;

    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;

    border: none;
    background: none;
    border-bottom: 1px dashed $color-heading;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -28px;

      width: 16px;
      height: 15px;

      background-image: url("../img/gps.png");
    }
  }

  p {
    margin: 0;
    margin-right: 21px;

    font-weight: 400;
    line-height: 150%;
  }

  @media (max-width: $tablet-width) {
    order: 0;

    padding-left: 38px;

    p {
      margin-right: 18px;
    }

    &::before {
      left: 20px;
    }
  }
}

.contacs__supervisor {
  @media (max-width: $tablet-width) {
    order: 0;
  }
}
