.faq {
  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-position: -40px 811px, left top;
  background-size: 194px, 100%;

  @media (max-width: $tablet-width) {
    background-size: 194px;
    background-position: -48px 685px;
  }
}

.faq__wrapper {
  @include desktop-container;

  min-height: 990px;
  padding-top: 83px;
  padding-bottom: 124px;
  padding-left: 108px;

  background-repeat: no-repeat;
  background-position: right 84px;
  background-size: 47%;

  @media (max-width: $tablet-width) {
    min-height: 850px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 26px;
    padding-bottom: 47px;
  }
}

.faq.nowebp {
  background-image: url("../img/bag-desktop@1x.png"),
    url("../img/bg-watercolor3-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bag-desktop@2x.png"),
      url("../img/bg-watercolor3-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bag-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag-desktop@2x.png");
    }
  }
}

.faq.webp {
  background-image: url("../img/bag-desktop@1x.webp"),
    url("../img/bg-watercolor3-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bag-desktop@2x.webp"),
      url("../img/bg-watercolor3-desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bag-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag-desktop@2x.webp");
    }
  }
}

.nowebp > .faq__wrapper {
  background-image: url("../img/bg-girls-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-girls-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background: none;
  }
}

.webp > .faq__wrapper {
  background-image: url("../img/bg-girls-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-girls-desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background: none;
  }
}

.faq__content {
  width: 43%;

  h2 {
    @include header;
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;

    h2 {
      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;

    h2 {
      margin-bottom: 7px;
    }
  }
}

.faq__list {
  @include reset-default-list;
}

.faq__item {
  width: 100%;
  padding: 36px 0 30px;

  text-align: left;

  border-bottom: 1px solid rgba($color: $color-main, $alpha: 0.2);

  button {
    position: relative;

    padding-left: 30px;
    padding-right: 60px;
    width: 100%;

    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

    border: none;
    background: none;
    cursor: pointer;
    overflow: visible;

    @include basic-interactive-effect;

    &:focus {
      opacity: 0.7;
      outline: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;

      width: 20px;
      height: 20px;

      background-image: url("../img/1.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 14px;

      width: 17px;
      height: 11px;

      background-image: url("../img/icon-down.svg");
      background-repeat: no-repeat;
    }
  }

  p {
    display: none;
    margin: 0;
    margin-top: 27px;
    padding-right: 30px;

    font-weight: 400;
    line-height: 140%;
  }

  &--2 button::before {
    background-image: url("../img/2.svg");
  }

  &--3 button::before {
    background-image: url("../img/3.svg");
  }

  &--4 button::before {
    background-image: url("../img/4.svg");
  }

  &--5 button::before {
    background-image: url("../img/5.svg");
  }

  &--6 button::before {
    background-image: url("../img/6.svg");
  }

  svg {
    position: absolute;
    top: 10px;
    right: -45px;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 0 23px 0;

    button {
      padding-left: 25px;
      padding-right: 30px;

      font-size: 16px;
      line-height: 170%;

      &::after {
        right: 0;
      }
    }

    p {
      margin-top: 15px;

      font-size: 14px;
      line-height: 165%;
    }

    svg {
      right: -25px;
    }
  }
}

.faq__item--active {
  p {
    display: block;
  }

  button::after {
    background-image: url("../img/icon-up.svg");
  }
}

.faq--nojs {
  p {
    display: block;
  }

  button::after {
    background: none;
  }
}
