.faq {
  padding-top: 79px;
  padding-bottom: 124px;
  padding-left: 108px;

  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-position: right 77px, -40px 804px, left top;
  background-size: 47%, 194px, 1366px;

  @media (max-width: $tablet-width) {
    padding-left: 0;

    background-size: 194px;
    background-position: -48px 685px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 26px;
    padding-bottom: 42px;
  }
}

.faq.nowebp {
  background-image: url("../img/bg-girls-desktop@1x.png"),
    url("../img/bag-desktop@1x.png"),
    url("../img/bg-watercolor3-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-girls-desktop@2x.png"),
      url("../img/bag-desktop@2x.png"),
      url("../img/bg-watercolor3-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bag-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag-desktop@2x.png");
    }
  }
}

.faq.webp {
  background-image: url("../img/bg-girls-desktop@1x.webp"),
    url("../img/bag-desktop@1x.webp"),
    url("../img/bg-watercolor3-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-girls-desktop@2x.webp"),
      url("../img/bag-desktop@2x.webp"),
      url("../img/bg-watercolor3-desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bag-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag-desktop@2x.webp");
    }
  }
}

.faq__content {
  width: 43%;

  h2 {
    @include header;
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;

    h2 {
      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;

    h2 {
      margin-bottom: 9px;
    }
  }
}

.faq__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.faq__item {

  width: 100%;
  padding: 35px 60px 30px 0;

  text-align: left;

  border-bottom: 1px solid rgba($color: $color-main, $alpha: 0.2);

  button {
    position: relative;

    padding-left: 30px;
    width: 100%;

    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;

      width: 20px;
      height: 20px;

      background-image: url("../img/1.svg");
      background-repeat: no-repeat;
    }
  }

  p {
    display: none;
    margin: 0;
    margin-top: 27px;

    font-weight: 400;
    line-height: 140%;
  }

  &--2 button::before {
    background-image: url("../img/2.svg");
  }

  &--3 button::before {
    background-image: url("../img/3.svg");
  }

  &--4 button::before {
    background-image: url("../img/4.svg");
  }

  &--5 button::before {
    background-image: url("../img/5.svg");
  }

  &--6 button::before {
    background-image: url("../img/6.svg");
  }

  svg {
    position: absolute;
    top: 10px;
    right: -45px;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 24px 23px 0;

    button {
      padding-left: 25px;

      font-size: 16px;
      line-height: 170%;
    }

    p {
      margin-top: 15px;

      font-size: 14px;
      line-height: 165%;
    }

    svg {
      right: -25px;
    }
  }
}

.faq__item--active {
  p {
    display: block;
  }
}
