.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 110px;

  border-top: 1px solid rgba($color: $color-main, $alpha: 0.2);

  p {
    margin: 0;
    padding-left: 22px;
    align-self: center;

    font-size: 12px;
    line-height: 150%;
    font-weight: 400;

    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 32px 55px 28px;
    align-items: center;

    p {
      padding-left: 0;
      margin-bottom: 25px;
    }
  }
}

.footer__logo {
  img {
    width: 85px;
    height: 27px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
  }
}

.footer__social {
  margin-top: 3px;
  margin-right: 7px;

  @media (max-width: $mobile-width) {
    margin-right: 15px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
