.form {
  input {
    display: block;
  }

  input[type="text"],
  input[type="tel"] {
    position: relative;
    width: 100%;
    height: 59px;
    padding: 20px 40px;
    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    border: 2px solid $color-input;
    border-radius: 80px;

    &:invalid:not(:placeholder-shown) {
      border-color: $color-input--invalid;
      outline: none;
    }

    &:invalid:not(:placeholder-shown) + label::before {
      content: "Ошибка: неверный формат";
      position: absolute;

      left: 25px;
      bottom: 0;
      z-index: 10;

      color: rgba($color: $color-input--invalid, $alpha: 0.75);
      font-size: 13px;
    }

    &:valid:not(:placeholder-shown) {
      border-color: $color-input--filled;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 2px solid transparent;
      z-index: 10;
      background-clip: padding-box;
      background-color: #ffffff;
    }

    &:focus + label,
    &:hover + label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;

      height: 59px;

      background-image: $gradient;
      border-radius: 80px;
    }
  }

  input[type="tel"]:not(:placeholder-shown) + label::after {
    content: "";
    position: absolute;
    left: 67px;
    top: 40px;
    width: 111px;
    height: 2px;
    z-index: 100;

    background-image: url("../img/underline.svg");
  }

  input::placeholder {
    color: rgba($color: $color-main, $alpha: 0.5);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
  }

  input[type="checkbox"] + label {
    position: relative;

    width: 264px;
    display: block;
    margin: 0 auto;
    padding-left: 24px;

    color: rgba($color: $color-main, $alpha: 0.74);
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;

      width: 16px;
      height: 16px;

      background-image: url("../img/icon-box.svg");
      border-radius: 2px;
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked + label::before {
    background-image: $gradient;
  }

  button {
    width: 264px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.form--line {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  button {
    width: 216px;
    margin: 0;

    align-self: flex-start;
  }

  input[type="text"],
  input[type="tel"] {
    width: 255px;
    margin-right: 20px;
  }

  input[type="text"]:focus + label,
  input[type="tel"]:focus + label,
  input[type="text"]:hover + label,
  input[type="tel"]:hover + label {
    width: 255px;
    bottom: 28px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 100%;
    max-width: 715px;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 0;

    input[type="text"],
    input[type="tel"] {
      width: 100%;

      margin-right: 0;
      padding-top: 17px;
      padding-bottom: 17px;
    }

    input[type="text"]:focus + label,
    input[type="tel"]:focus + label,
    input[type="text"]:hover + label,
    input[type="tel"]:hover + label {
      width: 100%;
    }

    button {
      width: 264px;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile-width) {
    button {
      margin-right: 28px;
    }
  }
}

.form__fieldset {
  margin-bottom: 27px;

  &--line {
    display: flex;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 18px;
      padding-right: 16px;
    }
  }
}

.form__field {
  position: relative;
}

.form__bottom-wrapper {
  position: relative;
  left: 12px;

  label {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: $mobile-width) {
    left: auto;
  }
}

.form__text {
  width: 376px;

  p {
    margin: 0;
    margin-bottom: 11px;
    margin-top: 12px;
    margin-right: 15px;

    color: rgba($color: $color-main, $alpha: 0.5);
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
  }

  p + p {
    margin-top: 18px;
  }

  b {
    margin-bottom: 20px;
    color: rgba($color: $color-main, $alpha: 0.87);
    font-size: 17px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    b {
      font-size: 16px;
    }

    p {
      line-height: 165%;
    }

    p + p {
      margin-top: 13px;
      margin-bottom: 32px;
    }
  }
}

.form--single-input {
  position: relative;

  width: 477px;

  input[type="tel"] {
    padding-right: 222px;
  }

  button {
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 200;

    width: 216px;
    padding: 20px;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    width: 70%;

    input[type="tel"] {
      margin-bottom: 20px;

      border: 2px solid $color-input;
    }

    button {
      position: static;
      width: 264px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;

    input[type="tel"] {
      margin-bottom: 9px;
      padding-right: 20px;
    }
  }
}
