.gallery {
  max-width: 1366px;
  margin: 0 auto;

  background-color: $color-secondary;
  background-position: center -42px, 103% 72%;
  background-repeat: no-repeat;
  background-size: contain, 124px;
}

.gallery__external-wrapper {
  min-height: 843px;
  padding-left: calc(35% - 370px);
  padding-right: calc(35% - 388px);
  padding-bottom: 128px;

  h2 {
    @include header;
    text-align: center;
    margin-left: -28px;
  }

  p {
    position: relative;
    z-index: 5;

    width: 723px;
    margin: 0 auto 42px 200px;

    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    text-align: right;
  }

  @media (max-width: $tablet-width) {
    padding-left: 16px;
    padding-right: 16px;

    h2 {
      margin-left: 0;
    }

    p {
      width: 100%;
      margin-left: 0;

      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 79px;

    h2 {
      padding-left: 16px;
      padding-right: 16px;
    }

    p {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 24px;

      font-size: 16px;
      line-height: 165%;
      text-align: left;
    }
  }
}

.gallery.nowebp {
  background-image: url("../img/bg-watercolor2-desktop@1x.png"),
    url("../img/watch-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor2-desktop@2x.png"),
      url("../img/watch-desktop@2x.png");
  }

  @media (max-width: $mobile-width) {
    background: none;
  }
}

.gallery.webp {
  background-image: url("../img/bg-watercolor2-desktop@1x.webp"),
    url("../img/watch-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor2-desktop@2x.webp"),
      url("../img/watch-desktop@2x.webp");
  }

  @media (max-width: $mobile-width) {
    background: none;
  }
}

.gallery__wrapper {
  position: relative;

  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__list {
  @include reset-default-list;

  display: flex;
  width: 100%;
  padding-left: calc(56% - 190px);
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    align-items: flex-end;
  }

  @media (max-width: $mobile-width) {
    display: block;
    overflow-x: hidden;
    text-align: center;
  }
}

.gallery__item {
  position: relative;
  width: auto;
  height: 318px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: cover;

  &--excursions {
    position: absolute;
    left: 0;
    top: -63px;
    z-index: 0;

    width: 36vw;
    max-width: 482px;
    height: calc(36vw * 1.5);
    max-height: 732px;
    background-image: url("../img/lifefoto1-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto1-desktop@2x.webp");
    }
  }

  &--language {
    width: 211px;

    background-image: url("../img/lifefoto2-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto2-desktop@2x.webp");
    }
  }

  &--profession {
    width: 411px;

    background-image: url("../img/lifefoto3-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto3-desktop@2x.webp");
    }
  }

  &--cooperation {
    width: 411px;

    background-image: url("../img/lifefoto4-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto4-desktop@2x.webp");
    }
  }

  &--leadership {
    width: 214px;

    background-image: url("../img/lifefoto5-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto5-desktop@2x.webp");
    }
  }

  &:nth-child(2n) {
    margin-right: calc(20% - 120px);
  }

  p {
    position: absolute;
    bottom: 32px;
    left: 32px;

    width: calc(90% - 12px);
    margin: 0;

    color: $color-secondary;
    font-family: $font-secondary;
    font-size: 21px;
    font-weight: 800;
    line-height: 25px;
    text-align: left;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      position: relative;
      top: 0;
      left: 0;
      order: 5;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
    margin: 0 auto 16px;
    width: 288px;
    height: 400px;

    text-align: center;

    &--active {
      display: inline-block;

      vertical-align: middle;
    }

    p {
      left: 16px;
      bottom: 24px;

      padding-left: 0;
      padding-right: 0;

      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }

    &--excursions {
      background-image: url("../img/lifefoto1-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto1-mobile@2x.webp");
      }
    }

    &--language {
      background-image: url("../img/lifefoto2-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto2-mobile@2x.webp");
      }
    }

    &--profession {
      background-image: url("../img/lifefoto3-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto3-mobile@2x.webp");
      }
    }

    &--cooperation {
      background-image: url("../img/lifefoto4-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto4-mobile@2x.webp");
      }
    }

    &--leadership {
      background-image: url("../img/lifefoto5-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto5-mobile@2x.webp");
      }
    }

    &:nth-child(2n) {
      margin-right: auto;
    }
  }
}

.nowebp .gallery__item {
  &--excursions {
    background-image: url("../img/lifefoto1-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto1-desktop@2x.png");
    }
  }

  &--language {
    background-image: url("../img/lifefoto2-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto2-desktop@2x.png");
    }
  }

  &--profession {
    background-image: url("../img/lifefoto3-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto3-desktop@2x.png");
    }
  }

  &--cooperation {
    background-image: url("../img/lifefoto4-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto4-desktop@2x.png");
    }
  }

  &--leadership {
    background-image: url("../img/lifefoto5-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lifefoto5-desktop@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    &--excursions {
      background-image: url("../img/lifefoto1-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto1-mobile@2x.png");
      }
    }

    &--language {
      background-image: url("../img/lifefoto2-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto2-mobile@2x.png");
      }
    }

    &--profession {
      background-image: url("../img/lifefoto3-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto3-mobile@2x.png");
      }
    }

    &--cooperation {
      background-image: url("../img/lifefoto4-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto4-mobile@2x.png");
      }
    }

    &--leadership {
      background-image: url("../img/lifefoto5-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/lifefoto5-mobile@2x.png");
      }
    }
  }
}

.gallery__controls {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    width: 100%;
    min-height: 8px;
    justify-content: center;
  }
}

.gallery--nojs .gallery__controls {
  display: none;
}

.gallery__control {
  width: 6px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background: rgba($color: $color-main, $alpha: 0.2);
  cursor: pointer;

  &:hover {
    background: rgba($color: $color-main, $alpha: 0.7);
  }

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--active {
    width: 8px;
    height: 8px;

    background: $gradient;
  }
}
