.header {
  position: relative;

  display: flex;
  flex-direction: column;
  height: calc(100vw / 1.51);
  padding-bottom: 10.5%;

  background-position: center top;
  background-size: 100vw;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    min-height: 605px;
    padding-bottom: 59px;

    background-size: cover;
    background-position: center 30px;
  }
}

.header.nowebp {
  background-image: url("../img/bg-main-desktop@1x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-desktop@2x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-main-mobile@1x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-mobile@2x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);
    }
  }
}

.header.webp {
  background-image: url("../img/bg-main-desktop@1x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-desktop@2x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-main-mobile@1x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-mobile@2x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 100%);
    }
  }
}

.header__top {
  flex: 1 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 110px 32px;

  @media (max-width: $mobile-width) {
    position: relative;
    flex-direction: column;
    padding-left: 140px;
    padding-right: 10px;
    padding-top: 20px;
    align-items: flex-end;
    justify-content: flex-start;

    font-size: 14px;
    line-height: 17px;
  }
}

.header__logo {
  width: 137px;
  height: 48px;
  margin-right: 20px;
  margin-top: -18px;

  @media (max-width: $mobile-width) {
    position: absolute;
    left: 15px;
    top: 20px;

    width: 120px;
    height: 42px;
    margin-top: 0;
  }
}

.header__button {
  margin: 0;
  padding: 0;

  font-variant: small-caps;
  background: none;
  border: none;
  border-bottom: 1px dashed $color-main;
  cursor: pointer;

  @include basic-interactive-effect;
}

.header__tel {
  @include basic-interactive-effect;

  @media (max-width: $mobile-width) {
    margin-bottom: 8px;
  }
}

.header__bottom {
  flex-shrink: 0;
  width: 350px;
  margin: 0 auto;

  h1 {
    margin: 0 0 32px;

    font-size: 24px;
    line-height: 29px;
    font-weight: 700;

    color: $color-secondary;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 290px;

    h1 {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.header__scroll {
  display: block;
  margin: 0 auto;

  img {
    display: block;
    width: 76px;
    height: 131px;
    margin: 0 auto;
  }
}
