.instagram-invitation {
  @include desktop-container;
}

.instagram-invitation__wrapper {
  min-height: 583px;
  display: flex;
  flex-direction: column;
  padding: 128px 12% 120px;
  margin-bottom: 60px;

  background-color: #c19f88;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    min-height: 400px;
    padding: 0 0 75px;
    margin-bottom: 0;

    background-color: transparent;
    background-position: calc(50% + 85px) 45px;
    background-size: 632px;
  }
}

.nowebp > .instagram-invitation__wrapper {
  background-image: url("../img/bg-masa-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-masa-desktop@2x.jpg");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-masa-mobile@1x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 200px, $color-secondary 200px, $color-secondary 100%);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-masa-mobile@2x.jpg"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 200px, $color-secondary 200px, $color-secondary 100%);
    }
  }
}

.webp > .instagram-invitation__wrapper {
  background-image: url("../img/bg-masa-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-masa-desktop@2x.webp");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-masa-mobile@1x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 200px, $color-secondary 200px, $color-secondary 100%);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-masa-mobile@2x.webp"), linear-gradient($color-secondary 0%, $color-secondary 100px, #c19f88 100px, #c19f88 200px, $color-secondary 200px, $color-secondary 100%);
    }
  }
}

.instagram-invitation__content {
  width: 400px;
  margin-left: auto;

  h2 {
    @include header;
  }

  p {
    margin: 0;
    margin-bottom: 70px;

    color: $color-secondary;
    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  a {
    position: relative;

    padding-left: 68px;
    padding-right: 42px;

    color: $color-secondary;
    text-align: center;
  }

  svg {
    position: absolute;
    left: 35px;
    top: calc(50% - 12px);

    width: 24px;
    height: 24px;

    fill: #ffffff;
  }

  @media (max-width: $tablet-width) {
    padding-top: 150px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;

    h2 {
      margin-bottom: 97px;

      font-size: 40px;
      line-height: 49px;
      text-align: center;
    }

    p {
      max-width: 756px;
      min-height: 130px;
      padding-left: calc(80% - 232px);
      padding-right: 16px;
      margin-bottom: 76px;

      font-size: 16px;
      line-height: 165%;
    }

    a {
      padding-left: 93px;
      padding-right: 60px;
      margin-left: calc(80% - 232px);
    }

    svg {
      left: 60px;
    }
  }
}
