.israel {
  min-height: 843px;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 130px;

  background-color: $color-secondary;
  background-image: url("../img/bg-watercolor2-desktop@1x.png"),
    url("../img/watch-desktop@1x.png");
  background-position: center -42px, 103% 72%;
  background-repeat: no-repeat;

  h2 {
    @include header;
    text-align: center;
  }

  p {
    position: relative;
    z-index: 5;

    width: 709px;
    margin: 0 auto 47px;

    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    text-align: right;
  }
}

.israel__gallery {
  position: relative;

  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-left: 496px;
  flex-wrap: wrap;
}

.israel__picture {
  position: relative;
  width: auto;
  height: 318px;
  margin-bottom: 30px;

  &:first-child {
    position: absolute;
    left: 0;
    top: -66px;
    z-index: 0;

    width: 482px;
    height: 732px;
  }

  &:nth-child(2n) {
    margin-right: 30px;
  }

  p {
    position: absolute;
    bottom: 32px;
    left: 32px;

    width: calc(90% - 12px);
    margin: 0;

    color: $color-secondary;
    font-family: $font-secondary;
    font-size: 21px;
    font-weight: 800;
    line-height: 25px;
    text-align: left;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }
}
