.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: $font-main;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $color-main;
  font-style: normal;

  background-color: $color-secondary;
}

.page a {
  color: $color-main;
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page__content {
  flex: 1 0 auto;
}

.page__main {
  max-width: 1366px; //временно до правки главного экрана
  margin: 0 auto;
}
