.preparation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 707px;
  padding-top: 165px;
  padding-bottom: 168px;

  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-position: 12px 133px, 112% 340px, left -67px;
  background-size: 581px, 337px, 1366px;

  @media (max-width: $tablet-width) {
    min-height: 607px;
    padding: 10px 55px 96px;
    background-position: 103px 280px;
    background-size: 264px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 55px;
  }
}

.preparation.nowebp {
  background-image: url("../img/bg-howto-desktop@1x.png"),
    url("../img/stamp-desktop@1x.png"),
    url("../img/bg-watercolorhowto-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-howto-desktop@2x.png"),
      url("../img/stamp-desktop@2x.png"),
      url("../img/bg-watercolorhowto-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/stamp-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp-mobile@2x.png");
    }
  }
}

.preparation.webp {
  background-image: url("../img/bg-howto-desktop@1x.webp"),
    url("../img/stamp-desktop@1x.webp"),
    url("../img/bg-watercolorhowto-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-howto-desktop@2x.webp"),
      url("../img/stamp-desktop@2x.webp"),
      url("../img/bg-watercolorhowto-desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/stamp-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp-mobile@2x.webp");
    }
  }
}

.preparation__content {
  width: 50%;
  padding-left: 17px;
  padding-right: 134px;

  h2 {
    @include header;
  }

  p {
    margin: 0;
    margin-bottom: 37px;

    font-weight: 400;
    line-height: 170%;

    & + p {
      margin-bottom: 32px;
    }
  }

  p b {
    display: inline-block;
    width: 480px;

    font-size: 17px;
    line-height: 170%;
    vertical-align: middle;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    h2 {
      text-align: center;
    }

    p {
      margin-bottom: 24px;

      font-size: 14px;
      line-height: 160%;
    }

    p b {
      width: 100%;

      font-size: 16px;
      line-height: 160%;
    }
  }
}

.preparation__requirements {
  position: relative;

  padding: 0;
  margin: 0;
  padding-left: 44px;

  list-style: none;

  &::before {
    content: "";
    position: absolute;

    left: 0;
    top: 0;
    z-index: 0;


    width: 2px;
    height: 100%;
    background-image: url("../img/dashed.svg");
    opacity: 0.2;
  }

  @media (max-width: $tablet-width) {
    &::before {
      left: 9px;
      top: -9px;
    }
  }
}

.preparation__requirements-item {
  position: relative;

  margin-bottom: 42px;

  font-size: 15px;
  font-weight: 400;
  line-height: 140%;

  &:first-child {
    margin-bottom: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 18px);
    left: -60px;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: $color-secondary;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  span {
    position: absolute;
    top: calc(50% - 14px);
    left: -48px;

    color: $yellow;
    font-size: 17px;
    line-height: 170%;
    font-weight: 700;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 160%;

    &:last-child {
      margin-bottom: 22px;
    }

    &::before {
      top: calc(44% - 18px);
      left: -51px;
    }

    span {
      top: calc(44% - 14px);
      left: -38px;
    }

    &:first-child {
      margin-bottom: 61px;
    }
  }
}

.preparation__annotaion {
  position: relative;

  padding-left: 18px;

  font-size: 15px;
  font-weight: 400;
  line-height: 140%;

  opacity: 0.5;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 4px;
    height: 100%;

    background-image: $gradient;
  }

  @media (max-width: $tablet-width) {
    padding-left: 8px;

    font-size: 14px;
    line-height: 160%;

    &::before {
      left: -5px;
    }
  }
}
