.programs {
  position: relative;

  padding-top: 104px;
  padding-left: calc(16% - 10px);
  margin-bottom: 12px;

  background-image: url("../img/bg-sketch-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 680px;
  background-position: right 56px;
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-sketch-desktop@2x.png");
  }

  h2 {
    @include header;
    margin-bottom: 69px;
  }

  h3 {
    @include header;
    font-size: 28px;
    line-height: 34px;
    text-transform: none;
    letter-spacing: -0.02em;
  }

  @media (max-width: $tablet-width) {
    padding-left: calc(10% - 10px);
  }

  @media (max-width: $mobile-width) {
    min-height: 525px;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;

    background-image: url("../img/bg-sketch-mobile@1x.png");
    background-size: 296px;

    h2 {
      margin-bottom: 17px;

      text-align: center;
    }

    h3 {
      margin-bottom: 18px;

      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-sketch-mobile@2x.png");
    }
  }
}

.programs__wrapper {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.programs__controls {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    min-height: 48px;
    overflow-x: auto;
  }
}

.programs__list {
  width: 48%;
  padding-top: 15px;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 30px;
  }
}

.programs__button {
  position: relative;

  display: block;
  width: 228px;
  padding: 25px 40px 29px 72px;
  margin-right: 64px;

  font-size: 15px;
  font-weight: 400;
  text-align: left;

  border: none;
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 24px;

    width: 36px;
    height: 36px;

    background-image: url("../img/sprite.png");
    background-position: 0 78px;
  }

  &--active,
  &--focus {
    color: $color-secondary;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 16px;

    background-image: url("../img/rectangle.svg");
    background-repeat: no-repeat;
    outline: none;

    &::before {
      background-position-y: 0;
    }

    &:hover {
      opacity: 0.87;
    }
  }

  &:hover:not(.programs__button--active) {
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      background-position-y: 35px;
    }
  }

  @media (max-width: $mobile-width) {
    width: auto;
    padding: 14px 11px 14px 55px;
    margin-right: 0;

    opacity: 0.4;

    &--active {
      background-image: $gradient;
      border-radius: 80px;
      opacity: 1;
    }

    &::before {
      top: 7px;
      left: 13px;
    }
  }
}

.programs__item {
  display: none;

  &--active {
    display: block;
  }

  p {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 400;
    line-height: 170%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    p {
      margin-bottom: 13px;

      font-size: 14px;
      line-height: 160%;
    }
  }
}

.programs__button--academy::before {
  background-position-x: -45px;
}

.programs__button--internship::before {
  background-position-x: -95px;
}

.programs__button--volunteer::before {
  background-position-x: -145px;
}

.programs__button--religion::before {
  width: 28px;
  background-position-x: -187px;
}
