.request {
  padding-top: 209px;
  padding-left: 209px;
  padding-bottom: 160px;

  background-image: url("../img/backpack-desktop@1x.png"),
    url("../img/bg-girl-desktop@1x.png");
  background-position: -73px center, right top;
  background-repeat: no-repeat;

  h2 {
    @include header;
  }

  p {
    width: 480px;
    margin: 0;
    margin-bottom: 64px;

    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
  }
}
