.reviews {
  padding-top: 27px;
  margin-bottom: 105px;

  background-color: $color-secondary;
  background-image: url("../img/bg-watercolor4-desktop@1x.png"),
    url("../img/bg-sketch2-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, 101% 83px;

  h2 {
    @include header;
    margin-bottom: 8px;
    text-align: center;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
