.review {
  display: none;
  padding-left: 103px;
  padding-right: 186px;

  &--active {
    display: block;
  }

  svg {
    float: left;
    width: 354px;
    height: 480px;
    margin-right: 44px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 55px;
    padding-left: 55px;
  }

  @media (max-width: $mobile-width) {
    &--active {
      display: flex;
      flex-direction: column;
    }

    padding-right: 0;
    padding-left: 0;

    svg {
      order: 1;

      width: 240px;
      height: 320px;
      margin: 0 auto 8px;
    }
  }
}

.review__text {
  width: 100%;
  margin: 0;
  padding-left: 45px;
  padding-top: 40px;
  padding-bottom: 55px;

  cite {
    font-size: 24px;
    line-height: 150%;
    font-style: normal;

    & + p {
      margin-bottom: 30px;

      font-size: 15px;
      line-height: 140%;
    }
  }

  p {
    margin: 0;
    margin-top: 10px;

    font-size: 17px;
    font-weight: 400;
    line-height: 170%;

    & + p {
      margin-bottom: 21px;
    }
  }

  span {
    margin-right: 5px;

    color: $color-heading;
  }

  a {
    color: $color-heading;
    font-size: 17px;
    line-height: 150%;
    text-decoration: underline;
  }

  @media (max-width: $tablet-width) {
    padding-right: 55px;
    padding-left: 55px;
  }

  @media (max-width: $mobile-width) {
    order: 3;

    padding: 24px 0 26px;

    p {
      font-size: 16px;
      line-height: 165%;
    }

    cite + p {
      margin-bottom: 24px;

      font-size: 14px;
      line-height: 160%;
    }

    p + p {
      margin-bottom: 18px;
    }

    span {
      font-size: 14px;
      line-height: 160%;
    }

    a {
      font-size: 16px;
    }
  }
}

.review__navigation {
  display: inline-flex;

  p {
    margin: 0;
    margin-right: 27px;

    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: $mobile-width) {
    order: 2;

    margin: 0 auto;

    p {
      margin-right: 24px;
    }
  }
}

.review__button {
  position: relative;

  width: 12px;
  height: 2px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-right: 10px;

  background: transparent;
  border: none;
  background-color: rgba($color: $color-main, $alpha: 0.2);
  box-shadow: 0 -4px 4px rgba($color: $color-main, $alpha: 0.2);
  transform: rotate(135deg);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 6px;

    width: 12px;
    height: 2px;
    margin: 0;
    padding: 0;

    background: transparent;
    border: none;
    background-color: rgba($color: $color-main, $alpha: 0.2);
    box-shadow: 0 -4px 4px rgba($color: $color-main, $alpha: 0.2);
    transform: rotate(90deg);
    cursor: pointer;
  }

  &--next {
    transform: rotate(-135deg);

    &::before {
      top: -6px;
      left: auto;
      right: 6px;
    }
  }
}

.review__social {
  display: inline-flex;
  float: right;

  @media (max-width: $mobile-width) {
    order: 5;
  }
}
