.reviews {
  padding-top: 27px;
  margin-bottom: 109px;

  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-size: contain, 535px;
  background-position: center, 101% 83px;

  h2 {
    @include header;
    margin-bottom: 8px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 77px;

    background-size: contain, 439px;
    background-position: center, 32px 551px;

    h2 {
      @include header;
      margin-bottom: 24px;
      text-align: center;
    }
  }
}

.review.nowebp {
  background-image: url("../img/bg-watercolor4-desktop@1x.png"),
    url("../img/bg-sketch2-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor4-desktop@2x.png"),
      url("../img/bg-sketch2-desktop@2x.png");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-watercolor4-mobile@1x.png"),
      url("../img/bg-sketch2-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-watercolor4-mobile@2x.png"),
        url("../img/bg-sketch2-mobile@2x.png");
    }
  }
}

.reviews.webp {
  background-image: url("../img/bg-watercolor4-desktop@1x.webp"),
    url("../img/bg-sketch2-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor4-desktop@2x.webp"),
      url("../img/bg-sketch2-desktop@2x.webp");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-watercolor4-mobile@1x.webp"),
      url("../img/bg-sketch2-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-watercolor4-mobile@2x.webp"),
        url("../img/bg-sketch2-mobile@2x.webp");
    }
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
