.social__link {
  display: inline-block;
  width: 24px;
  height: 24px;

  vertical-align: middle;

  opacity: 0.2;

  &:not(:last-child) {
    margin-right: 14px;
  }

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.social--supervisor {
  & .social__link {
    margin-right: 5px;
  }
}
