.social__link {
  display: inline-block;
  width: 24px;
  height: 24px;

  vertical-align: middle;

  opacity: 0.2;

  @include basic-interactive-effect;

  &:not(:last-child) {
    margin-right: 14px;
  }

  @media (max-width: $mobile-width) {
    &:not(:last-child) {
      margin-right: 13px;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.social--supervisor {
  & .social__link {
    margin-right: 5px;
  }
}
