.supervisor {
  margin-bottom: 128px;

  p {
    margin: 0;

    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
  }

  @media (max-width: $tablet-width) {
    padding-left: 16px;
    padding-right: 20px;
    margin-bottom: 40px;

    p {
      font-size: 16px;
      line-height: 165%;
    }
  }
}

.supervisor__details {
  position: relative;

  width: 384px;
  min-height: 112px;
  padding-left: 137px;
  margin-bottom: 33px;

  p {
    width: 98%;
    margin: 0;
    margin-bottom: 13px;

    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }

  p + p {
    font-size: 13px;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;

    width: 112px;
    height: 112px;

    border-radius: 50%;
  }

  span {
    margin-right: 5px;

    color: $color-heading;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin-bottom: 29px;

    img,
    picture {
      position: static;
      order: -1;
      float: none;

      width: 112px;
      height: 112px;
      margin-bottom: 17px;
      margin-left: 0;
    }
  }
}
