@mixin firasans($font, $weight) {
  @font-face {
    font-family: "Fira Sans";
    src: url("../fonts/#{$font}.woff2") format("woff2"),
      url("../fonts/#{$font}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin montserrat($font, $weight) {
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/#{$font}.woff2") format("woff2"),
      url("../fonts/#{$font}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin raleway($font, $weight) {
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/#{$font}.woff2") format("woff2"),
      url("../fonts/#{$font}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin header {
  margin: 0;
  margin-bottom: 24px;

  color: $color-heading;
  font-family: $font-headers;
  font-size: 40px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 39px;
  }
}

@mixin reset-default-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
