//Цвета
$black: #484848;
$blue: #1fc0fc;
$white: #ffffff;
$yellow: #ffc341;
$darkyellow: #ffd701;
$gray: #e3e3e3;
$darkgray: #484848;
$lightgray: #ebebeb;
$red: #ff0000;

$gradient: linear-gradient(108.42deg, $yellow 20.46%, $darkyellow 65.31%);
$gradient-hover: linear-gradient(143.55deg, $yellow -50.3%, $darkyellow 63.1%);
$radial-gradient:  radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%);

$color-main: $black;
$color-secondary: $white;
$color-heading: $blue;
$color-overlay: $lightgray;
$color-input: $gray;
$color-input--invalid: $red;
$color-input--filled: $darkgray;

//Шрифты
$font-main: "Fira Sans", "Arial", sans-serif;
$font-secondary: "Raleway", "Arial", sans-serif;
$font-headers: "Montserrat", "Arial", sans-serif;

//Версии экранов
$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
