//Цвета
$black: #484848;
$blue: #1fc0fc;
$white: #ffffff;
$yellow: #ffc341;

$gradient: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

$color-main: $black;
$color-secondary: $white;
$color-heading: $blue;

//Шрифты
$font-main: "Fira Sans", "Arial", sans-serif;
$font-secondary: "Raleway", "Arial", sans-serif;
$font-headers: "Montserrat", "Arial", sans-serif;

//Версии экранов
$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
